{% extends "base.html" %}
{% load url from future %}

{% block name %}Projects{% endblock %}
{% block projects %}active{% endblock %}
{% block content %}
<div class="container">
    <a class="btn btn-inverse pull-left" href="/create"><i class="icon-globe icon-white"></i> Create a project</a>
    <form class="form-search">
      <div class="input-append pull-right">
        <input type="text" class="span2 search-query" name="query">
        <button type="submit" class="btn btn-inverse">Search</button>
      </div>
    </form>
    <div class="pagination pagination-centered">
      <form method ="POST" action="" id="orderFrm">{% csrf_token %}
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" data-num="1" class="order btn {% if list.ordering == 1 %}active{% endif %}">Latest</button>
          <button type="button" data-num="2" class="order btn {% if list.ordering == 2 %}active{% endif %}">Replies</button>
          <button type="button" data-num="3" class="order btn {% if list.ordering == 3 %}active{% endif %}">Ratings</button>
          <input type="hidden" value="{{ list.ordering }}" name ="sortMethod" id ="sortMethod"/>
        </div>
      </form>
    </div>
</div>
    <br>
    <div class="well">
{% if project_list %}
    {% for project in project_list %}
        <div class="pull-right">
            <small>Replies: {{ project.replies }}
            <br>
            Rating: {{ project.rating }}</small>
        </div>
        <strong><a href="{% url 'projects:project' project.id %}">{{ project.project }}</a></strong>
        <br>
        Project by: {{ project.user }}
        <div class="project-sep"></div>
    {% endfor %}
{% else %}
        <strong>No projects found.</strong>
{% endif %}
    </div>
  </div>
  <script type = "text/JavaScript">
    $(".order").click(function() {
      $('#sortMethod').val($(this).data("num"));
      $('#orderFrm').submit()
    });
  </script>
{% endblock %}

