{% extends "base.html" %}
{% load url from future %}

{% block name %}Projects{% endblock %}
{% block projects %}active{% endblock %}
{% block content %}
<div class="container">
    <a class="btn btn-inverse pull-left" href="/create"><i class="icon-globe icon-white"></i> Create a project</a>
    <form class="form-search">
      <div class="input-append pull-right">
        <input type="text" class="span2 search-query" name="query" value="{% if search_content %}{{ search_content }}{% endif %}">
        <button type="submit" class="btn btn-inverse">Search</button>
      </div>
    </form>
    <div class="pagination pagination-centered">
      <ul>
        <li class="{% if sort == 'latest' or sort == None %}active{% endif %}"><a href="?sort=latest">Latest</a></li>
        <li class="{% if sort == 'replies' %}active{% endif %}"><a href="?sort=replies">Replies</a></li>
        <li class="{% if sort == 'rating' %}active{% endif %}"><a href="?sort=rating">Rating</a></li>
      </ul>
    </div>
</div>
    <br>
    <div class="well">
{% if project_list %}
    {% for project in project_list %}
        <div class="pull-right">
            <small>Replies: <strong>{{ project.replies }}</strong>
            <br>
            {{ project.formatted_rating }}</small>
        </div>
        <strong><a href="{% url 'projects:project' project.id %}">{{ project.project }}</a></strong>
        <br>
        Project by: {{ project.user }}
        <div class="project-sep"></div>
    {% endfor %}
{% else %}
        <strong>No projects found.</strong>
{% endif %}
    </div>
{% endblock %}

